{{- if eq .Values.provider.name "istio" }}
{{- $istio := (index .Values "provider" "istio") | default (dict) -}}
{{- $dr := (index $istio "destinationRule") | default (dict) -}}

apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: {{ include "gateway-api-inference-extension.name" . }}
spec:
  host: {{ (index $dr "host") | default (printf "%s.%s.svc.cluster.local" (include "gateway-api-inference-extension.name" .) .Release.Namespace) }}
  trafficPolicy:
    tls:
      mode: SIMPLE
      insecureSkipVerify: true
    {{- with (index (index $dr "trafficPolicy") "connectionPool") }}
    connectionPool:
      {{- . | toYaml | nindent 6 }}
    {{- end }}
{{- end }}
