inferenceExtension:
  replicas: 1
  image:
    name: epp
    hub: us-central1-docker.pkg.dev/k8s-staging-images/gateway-api-inference-extension
    tag: main
    pullPolicy: Always
  extProcPort: 9002
  env: []
  pluginsConfigFile: "default-plugins.yaml"
  # Define additional container ports
  extraContainerPorts: []
  # Define additional service ports
  extraServicePorts: []
#  extraServicePorts:
#    - name: http
#      port: 8081
#      protocol: TCP
#      targetPort: 8081

  # This is the plugins configuration file.
  # pluginsCustomConfig:
  #   custom-plugins.yaml: |
  #     apiVersion: inference.networking.x-k8s.io/v1alpha1
  #     kind: EndpointPickerConfig
  #     plugins:
  #     - type: custom-scorer
  #       parameters:
  #         custom-threshold: 64
  #     schedulingProfiles:
  #     - name: default
  #       plugins:
  #       - pluginRef: custom-scorer

  # Example environment variables:
  # env:
  #   ENABLE_EXPERIMENTAL_FEATURE: "true"

  flags:
    # Log verbosity
    v: 1

  affinity: {}

  tolerations: []

#  resources:
#    requests:
#      cpu: 1000m
#      memory: 1Gi
#    limits:
#      cpu: 4000m
#      memory: 8Gi

  # Sidecar configuration for EPP
  sidecar:
    enabled: false

  # Monitoring configuration for EPP
  monitoring:
    interval: "10s"
    # Prometheus ServiceMonitor will be created when enabled for EPP metrics collection
    prometheus:
      enabled: false
      auth:
        enabled: true
        # Service account token secret for authentication
        secretName: inference-gateway-sa-metrics-reader-secret
      # additional labels for the ServiceMonitor
      extraLabels: {}
  tracing:
    enabled: false
    otelExporterEndpoint: "http://localhost:4317"
    sampling:
      sampler: "parentbased_traceidratio"
      samplerArg: "0.1"

  # Latency Predictor Configuration
  latencyPredictor:
    # common latencyPredictor setting exists in config/charts/inference-extension/values.yaml
    enabled: false

inferencePool:
  targetPorts:
    - number: 8000
  modelServerType: vllm # vllm, triton-tensorrt-llm
  apiVersion: inference.networking.k8s.io/v1
  # modelServers: # REQUIRED
  #   matchLabels:
  #     app: vllm-llama3-8b-instruct

  # Should only used if apiVersion is inference.networking.x-k8s.io/v1alpha2,
  # This will soon be deprecated when upstream GW providers support v1, just doing something simple for now.
  targetPortNumber: 8000

# Options: ["gke", "istio", "none"]
provider:
  name: none

  # GKE-specific configuration.
  # This block is only used if name is "gke".
  gke:
    # Set to true if the cluster is an Autopilot cluster.
    autopilot: false

  # Istio-specific configuration.
  # This block is only used if name is "istio".
  istio:
    destinationRule:
      # Provide a way to override the default calculated host
      host: ""
      # Optional: Enables customization of the traffic policy
      trafficPolicy: {}
        # connectionPool:
        #   http:
        #     maxRequestsPerConnection: 256000

# experimentalHttpRoute section is used to deploy httproute as part of the epp helm chart.
# this section is temporary and should be extracted to a separate chart.
experimentalHttpRoute:
  enabled: false # a flag to indicate whether to create the httproute as part of the chart or not.
  inferenceGatewayName: inference-gateway

# DEPRECATED and will be removed in v1.3. Instead, use `provider.istio.*`.
istio:
  destinationRule:
    # Provide a way to override the default calculated host
    host: ""
    # Optional: Enables customization of the traffic policy
    trafficPolicy: {}
      # connectionPool:
      #   http:
      #     maxRequestsPerConnection: 256000
